In [3]:
def add_item(name,quantity,unit,grocery_list):
    grocery_list.append('{0} ({1} {2})'.format(name,quantity,unit))
    return grocery_list

In [16]:
store1 = []
store2 = []

In [17]:
add_item('banana',2,'units',store1)
add_item('milk',1,'liter',store1)

['banana (2 units)', 'milk (1 liter)']

In [18]:
add_item('python',1,'medium-rare',store2)

['python (1 medium-rare)']

In [19]:
def add_item(name,quantity,unit,grocery_list=[]):
    grocery_list.append('{0} ({1} {2})'.format(name,quantity,unit))
    return grocery_list

In [20]:
del store1
del store2

In [21]:
store1 = add_item('banana',2,'units')
add_item('milk',1,'liter',store1)

['banana (2 units)', 'milk (1 liter)']

In [22]:
print(store1)

['banana (2 units)', 'milk (1 liter)']

In [24]:
store2 = add_item('python',2,'medium-rare')

In [25]:
print(store2)

['banana (2 units)', 'milk (1 liter)', 'python (2 medium-rare)', 'python (2 medium-rare)']

In [26]:
print(store1)

['banana (2 units)', 'milk (1 liter)', 'python (2 medium-rare)', 'python (2 medium-rare)']

In [27]:
store1 is store2

True

In [28]:
def add_item(name,quantity,unit=1,grocery_list=None):
    if not grocery_list:
        grocery_list = []
    grocery_list.append('{0} ({1} {2})'.format(name,quantity,unit))
    return grocery_list

In [29]:
store1 = add_item('banana',2,'units')
add_item('milk',1,'liter',store1)

['banana (2 units)', 'milk (1 liter)']

In [30]:
print(store1)

['banana (2 units)', 'milk (1 liter)']

In [31]:
store2 = add_item('python',2,'medium-rare')

In [32]:
print(store2)

['python (2 medium-rare)']

In [33]:
store1 is store2

False

In [39]:
def factorial(n):
    if n<1:
        return 1
    else:
        print('calculating {0}',format(n))
        return n * factorial(n - 1)

In [40]:
factorial(5)

calculating {0} 5
calculating {0} 4
calculating {0} 3
calculating {0} 2
calculating {0} 1

120

In [41]:
factorial(3)

calculating {0} 3
calculating {0} 2
calculating {0} 1

6

In [51]:
def factorial(n, *, cache):
    if n<1:
        return 1
    elif  n in cache:
        return cache[n]
    else:
        print('calculating {0}!'.format(n))
        result =  n * factorial(n - 1,cache=cache)
        cache[n] = result
        return result

In [52]:
cache = {}

In [53]:
factorial(3, cache=cache)

calculating 3!
calculating 2!
calculating 1!

6

In [54]:
print(cache)

{1: 1, 2: 2, 3: 6}

In [56]:
factorial(4,cache=cache)

calculating 4!

24

In [ ]:
def factorial(n, cache={}):
    if n<1:
        return 1
    elif  n in cache:
        return cache[n]
    else:
        print('calculating {0}!'.format(n))
        result =  n * factorial(n - 1,cache=cache)
        cache[n] = result
        return result